.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar-btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-align: center;
}

.navbar-btn:hover {
  background-color: #ff8c1a;
}

.card-deck{
  margin: 20px;
  text-align: center;
}

.card-image{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
}

.card_title{
  color:#ff6600;
  font-size:1.5rem;
  font-weight:bold;
  text-align: center;
}

.card-text{
  color:black;
  font-size:1.2rem;
  text-align: center;
}

.card-links{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card-links a{
  color: #ff6600;
  text-decoration: none;
}

.card-links a:hover {
  color: #ff8c1a;
  text-decoration: underline;
}

.bioText{
  text-align:center;
  margin-top: 20px;
  font-size:1.2rem;
  font-weight: normal;
}

.bio a{
  color: #ff6600;
  text-decoration: none;
}

.bio a:hover {
  color: #ff8c1a;
  text-decoration: underline;
}
